.header{
    display: flex;
    background-color: rgb(224, 221, 221);
    justify-content: space-around;
    align-items: center;
}

.imgLogo{
    width: 60px;
}
.link a{
    margin-left: 30px;
    text-decoration: none;
}
.link a:hover{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white;

}